html, body {
  font-family: Helvetica, monospace;
  margin: 0;
  padding: 0;
  background: #555;
}
body * {
  font-size: 25px;
}
*[aria-hidden=true] {
  display: none !important;
}

/*
 * Navigation menu
 */
#menu {
  text-align: center;
  background: #333;
  padding-top: 0.2em;
}
#menu button {
  color: #AAA;
  border: none;
  background: none;
  font-size: 25px;
  border-right: 0px solid #555;
  padding: 0 0.8em;
}
#menu button.selected {
  color: orange;
  border-bottom: 3px solid orange;
}

/*
 * Common form formatting
 */
#contents button {
  background: orange;
  border: 2px solid #840;
  color: white;
  padding: 0.25em 0.8em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  margin-bottom: 2px; /* So shadow doesn't get cut off */
}
x-slide {
  color: #EEE;
}

/*
 * Home panel
 */
#home {
  padding-top: 2em;
  text-align: center;
}

/*
 * Ready to start screen
 */
#home button.start {
  background-color: green;
  border-color: #040;
  min-width: 6em;
}

/*
 * Activity in progress controls
 */
#progressContents button {
  min-width: 7em;
}
#home button.stop {
  background-color: #F55;
  border-color: #800;
}
#home button.pause {
  background-color: grey;
  border-color: #333;
}
#progressContents #currentDistance {
  font-weight: bold;
  font-size: 3em;
  padding: 0.3em 0;
}
